# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.bak
out
gen
*.db
/dzapi/authorization.json
/test/cover
/test/pandas*.py
/test/.coverage
/test/coverage.xml
build/
dist/
pydzapi.egg-info/
__pycache__/